* {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1vw;
}


body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5vw;
    width: auto;
}

.space {
    height: 50vw;
    width: 70vw;
    overflow: hidden;
    background-image: url('../image/space.png');
    background-color: darkgrey;
}

#space_image {
    width: inherit;
    height: inherit;
}

.planet-area {
    position: relative;
    right: 2vw;
    top: 25vw;
    width: 50vw;
}

.planet {
    width: 30vw;
    height: 30vw;
}

.rocket {
    bottom: 13vw;
    position: relative;
    right: 13vw;
    transform: rotate(30deg);

    height: 9vw;
    width: 9vw;
}

.control-panel {
    position: absolute;
    left: 50vw;
    min-height: 15vw;
    top: 20vw;
    z-index: 100;
    width: 30vw;

    background-image: repeating-linear-gradient(45deg, yellow, yellow 35px, black 35px, black 75px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.control-panel__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #be4f13;
    opacity: 95%;
    margin: 1vw;
    width: 28vw;
}
#passwordEntered, #password{

}

#password {
    position: relative;
    left: -2vw;
    top: 2vw;

    background-color: black;
    color: yellow;
    padding: .5vw;
    margin: 1vw;
    width: 10vw;
}

#passwordEntered {
    position: relative;
    bottom: 2.5vw;
    left: 7vw;

    background-color: black;
    color: yellow;
    margin: 1vw;
    padding: .5vw;
}

.check-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.check-buttons input[type="checkbox"] {
    margin: 1vw 1vw;
    width: 1.2vw;
    height: 1.2vw;
}

.levers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1vw 0;
}

.levers input[type="range"] {
    margin: 0 -1vw;
    transform: rotate(-90deg);
    height: 7vw;
    width: 7vw;
}

#launch {
    background-color: red;
    border: 2px solid yellow;
    border-radius: 70%;
    padding: 1.2vw;
    color: yellow;
    font-size: 1vw;
    margin: 1vw;
}

footer {
    align-items: center;
    display: flex;
    font-size: 1.5vw;
    flex-flow: wrap;
    justify-content: space-around;
    position: relative;
    top: 8vw;
}

footer p {
    padding: 1.5vw;
}
